weather and home monitoring using IBM cloud/node-red code.txt
[{"id":"8e74e07b.2b41b","type":"tab","label":"smart home automation","disabled":false,"info":""},{"id":"6cdee196.50f2c","type":"ui_button","z":"8e74e07b.2b41b","name":"","group":"977828c.1e726d8","order":0,"width":0,"height":0,"passthru":false,"label":"light on button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"light_on","payloadType":"str","topic":"","x":120,"y":60,"wires":[["14ae10c.05bb4ef","fc01bb03.092128"]]},{"id":"80c2ce56.8f8f7","type":"ui_button","z":"8e74e07b.2b41b","name":"","group":"977828c.1e726d8","order":0,"width":0,"height":0,"passthru":false,"label":"lightoff button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"light_off","payloadType":"str","topic":"","x":120,"y":140,"wires":[["14ae10c.05bb4ef","fc01bb03.092128"]]},{"id":"14ae10c.05bb4ef","type":"debug","z":"8e74e07b.2b41b","name":"button output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":60,"wires":[]},{"id":"fc01bb03.092128","type":"ibmiot out","z":"8e74e07b.2b41b","authentication":"apiKey","apiKey":"7bb1458a.3ab42c","outputType":"cmd","deviceId":"1234","deviceType":"NODEMCU_12","eventCommandType":"home","format":"String","data":"ok","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":160,"wires":[]},{"id":"60533e72.14a6d","type":"http in","z":"8e74e07b.2b41b","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["2ebcc2a3.6e6d0e"]]},{"id":"1f43dbac.6f0164","type":"http response","z":"8e74e07b.2b41b","name":"","statusCode":"","headers":{},"x":690,"y":340,"wires":[]},{"id":"36a77f8.2a8b38","type":"debug","z":"8e74e07b.2b41b","name":"http request output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":420,"wires":[]},{"id":"2ebcc2a3.6e6d0e","type":"function","z":"8e74e07b.2b41b","name":"http response after json parsing","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["1f43dbac.6f0164","36a77f8.2a8b38","fc01bb03.092128"]]},{"id":"4223af14.c5579","type":"inject","z":"8e74e07b.2b41b","name":"","topic":"","payload":"ashwitha","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":440,"wires":[["211bb078.19d7b"]]},{"id":"211bb078.19d7b","type":"debug","z":"8e74e07b.2b41b","name":"anusha.output inject","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":400,"y":480,"wires":[]},{"id":"934f0efa.44304","type":"inject","z":"8e74e07b.2b41b","name":"num","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":540,"wires":[["6245e0a1.fcf4e"]],"info":"{\"number\":\"1234\"}"},{"id":"6245e0a1.fcf4e","type":"debug","z":"8e74e07b.2b41b","name":"number","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":560,"wires":[]},{"id":"912d513e.177ce","type":"ibmiot in","z":"8e74e07b.2b41b","authentication":"apiKey","apiKey":"7bb1458a.3ab42c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"NODEMCU_12","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":620,"wires":[["3acb9be5.ab7a94","83290518.e0a298","4406bd78.04dd44"]]},{"id":"3acb9be5.ab7a94","type":"debug","z":"8e74e07b.2b41b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":660,"wires":[]},{"id":"83290518.e0a298","type":"function","z":"8e74e07b.2b41b","name":"temperature passing","func":"global.set(\"T\",msg.payload.d.temperature)\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":760,"wires":[["767cca57.eb51c4","1c75f76a.bc6979"]]},{"id":"767cca57.eb51c4","type":"debug","z":"8e74e07b.2b41b","name":"temperature value","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":760,"wires":[]},{"id":"1c75f76a.bc6979","type":"ui_gauge","z":"8e74e07b.2b41b","name":"","group":"9d911a41.f33a68","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#9c0da8","#e6e600","#ca3838"],"seg1":"","seg2":"","x":586,"y":684,"wires":[]},{"id":"4406bd78.04dd44","type":"function","z":"8e74e07b.2b41b","name":"humidity passing","func":"global.set(\"H\",msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":178,"y":814,"wires":[["763e81b0.6e1a4","a321b9cb.f1a448"]]},{"id":"a321b9cb.f1a448","type":"debug","z":"8e74e07b.2b41b","name":"humidity value","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":840,"wires":[]},{"id":"763e81b0.6e1a4","type":"ui_gauge","z":"8e74e07b.2b41b","name":"","group":"1a68f414.fc83cc","order":0,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":900,"wires":[]},{"id":"92d86e57.192e","type":"http in","z":"8e74e07b.2b41b","name":"weather request","url":"/weather_data","method":"get","upload":false,"swaggerDoc":"","x":140,"y":960,"wires":[["c156dc10.c796c"]]},{"id":"c156dc10.c796c","type":"function","z":"8e74e07b.2b41b","name":"weather response function","func":"msg.payload={\"temperature\":global.get(\"T\"),\"humidity\":global.get(\"H\")}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1000,"wires":[["8f22142b.ed2878"]]},{"id":"8f22142b.ed2878","type":"http response","z":"8e74e07b.2b41b","name":"response","statusCode":"","headers":{},"x":600,"y":940,"wires":[]},{"id":"4a2a8132.8f966","type":"inject","z":"8e74e07b.2b41b","name":"","topic":"","payload":"todays weather report","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1080,"wires":[["182663a1.a7ba4c"]]},{"id":"9f3adebb.6bdee","type":"debug","z":"8e74e07b.2b41b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":1080,"wires":[]},{"id":"af1e6b71.b2f9e8","type":"function","z":"8e74e07b.2b41b","name":"json parsing for bot response","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":291,"y":1150,"wires":[["9f3adebb.6bdee","7f81388d.eb8d18"]]},{"id":"182663a1.a7ba4c","type":"watson-conversation-v1","z":"8e74e07b.2b41b","name":"","workspaceid":"2828eb59-3a73-4832-a1b6-feef9d5ea9e6","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":115,"y":1208,"wires":[["af1e6b71.b2f9e8"]]},{"id":"7f81388d.eb8d18","type":"switch","z":"8e74e07b.2b41b","name":"bot response switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"temp","vt":"str"},{"t":"eq","v":"humid","vt":"str"},{"t":"eq","v":"climate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":220,"y":1300,"wires":[["c50a9c7e.34e94"],["c92c1745.7cc9f8"],["48c85e5f.77b5e"],["4138c7b0.8d6cd8","df7f8cd9.a2679"]]},{"id":"c50a9c7e.34e94","type":"function","z":"8e74e07b.2b41b","name":"at switch temperature","func":"msg.payload=\"todays temperature is\"+global.get(\"T\")\nreturn msg;","outputs":1,"noerr":0,"x":548,"y":1273,"wires":[["df7f8cd9.a2679","4138c7b0.8d6cd8"]]},{"id":"c92c1745.7cc9f8","type":"function","z":"8e74e07b.2b41b","name":"at switch humidity","func":"msg.payload=\"todays humidity is\"+global.get(\"H\")\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1320,"wires":[["4138c7b0.8d6cd8","df7f8cd9.a2679"]]},{"id":"48c85e5f.77b5e","type":"function","z":"8e74e07b.2b41b","name":"at switch climate","func":"msg.payload=\"todays temperature&humidity are\"+global.get(\"T\")+\",\"+global.get(\"H\")\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1380,"wires":[["4138c7b0.8d6cd8","df7f8cd9.a2679"]]},{"id":"df7f8cd9.a2679","type":"ui_text","z":"8e74e07b.2b41b","group":"9d911a41.f33a68","order":3,"width":0,"height":0,"name":"","label":"bot output","format":"{{msg.payload}}","layout":"row-left","x":520,"y":1420,"wires":[]},{"id":"4138c7b0.8d6cd8","type":"debug","z":"8e74e07b.2b41b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1221,"wires":[]},{"id":"9d748576.b04fc8","type":"ui_form","z":"8e74e07b.2b41b","name":"","label":"","group":"9b6a1603.262188","order":1,"width":0,"height":0,"options":[{"label":"user input","value":"user input","type":"text","required":true}],"formValue":{"user input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":1505,"wires":[["bd22bffc.8442a","12da58d6.b6e877"]]},{"id":"12da58d6.b6e877","type":"debug","z":"8e74e07b.2b41b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":1500,"wires":[]},{"id":"bd22bffc.8442a","type":"function","z":"8e74e07b.2b41b","name":"form.output for json parsing","func":"msg.payload=msg.payload.user_input\nreturn msg;","outputs":1,"noerr":0,"x":176,"y":1582,"wires":[["12da58d6.b6e877","182663a1.a7ba4c","c455ef69.7041d"]]},{"id":"c455ef69.7041d","type":"ui_text","z":"8e74e07b.2b41b","group":"b6ab8179.9794c","order":2,"width":"5","height":"1","name":"","label":"user question","format":"{{msg.payload}}","layout":"row-left","x":483,"y":1579,"wires":[]},{"id":"977828c.1e726d8","type":"ui_group","z":"","name":"kitchen","tab":"73b3bdaa.8b3f54","disp":true,"width":"4","collapse":false},{"id":"7bb1458a.3ab42c","type":"ibmiot","z":"","name":"ashwitha","keepalive":"60","serverName":"zkmd4c.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"9d911a41.f33a68","type":"ui_group","z":"","name":"temperature","tab":"f4765640.203558","disp":true,"width":"7","collapse":false},{"id":"1a68f414.fc83cc","type":"ui_group","z":"","name":"humidity","tab":"f4765640.203558","disp":true,"width":"8","collapse":false},{"id":"9b6a1603.262188","type":"ui_group","z":"","name":"Default","tab":"75ab481a.b5eaf8","disp":true,"width":"6","collapse":false},{"id":"b6ab8179.9794c","type":"ui_group","z":"","name":"Default","tab":"b0d694af.b89278","disp":true,"width":"6","collapse":false},{"id":"73b3bdaa.8b3f54","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f4765640.203558","type":"ui_tab","z":"","name":"mlrit weather properties","icon":"dashboard","disabled":false,"hidden":false},{"id":"75ab481a.b5eaf8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b0d694af.b89278","type":"ui_tab","z":"","name":"weather chatbot","icon":"dashboard","disabled":false,"hidden":false}]